<!DOCTYPE html>
<html>
{% extends 'apps/index.html' %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/stylesheets.css' %}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LOGIN PAGE</title>
</head>
<body>
	<center>
	<h1>The Bank</h1>
	<form method="POST">
		{{form.as_p}}
		{% csrf_token %}
		<button type="submit">LOGIN</button>
	</form>
    </center>
</body>
{% endblock %}
</html>