<!DOCTYPE html>
{% extends 'apps/index.html' %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" href="{%static 'css/stylesheets.css'%}">
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CONTACT PAGE</title>
</head>
<body>
	<center>
	<br><br><br><br><br><br><br>
	<b><p><u>CONTACT:</u></p></b>
	<b>
   <address>The Bank<br> 
		    Aruvi block,<br>
			St.Paul's Complex,<br>
			Bharathiyar Salai<br>
			Cantonment,<br>
		Trichy - 01.
		</address>
	</b>
	<br>
</center>
</body>
{% endblock %}
</html>