<!DOCTYPE html>
<html>
{% extends 'apps/index.html' %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/stylesheets.css' %}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SERVICE PAGE</title>
</head>
<body>
<h1 style="text-align:center;">Service offered by The Bank</h1>
<h3 style="text-align:center;">We Understand Your World</h3><br><br>
<h5>Manage Accounts<hr>Funds Transfer<hr>Cardless Cash Withdrawal<hr>Pay Utility Bills<hr>Recharge Prepaid Mobile/DTH Connection<hr>Credit Card Payments<hr>Fixed Deposits/Recurring Deposits</h5>
</body>
{% endblock %}
</html>